#header{
    background-image: url("../img/header1.jpg");
    background-size:100%;
    overflow:hidden;
    height: 600px;
    position: relative;
    margin-bottom: 40px;
}

#maincontent {
   	     display: block;
   }

#maincontent p{
    color: #3C434D;
    line-height: 30px;
}

#about-us{
    margin:30px 0;
    padding: 4.75%;
    width: 35.75%;
    float: left;
}

#about-us button{
    background-color: #0088cc;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

#about-us button a{
    color: white;
    text-decoration: none;
}

#pic1 {
    margin: 50px 0;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-right: 4.75%;
    width: 50%;
}

#class-list{
    display: inline-block;
    margin:50px 0;
}

.classes {
    display: inline-block;
   	width: 27%;
   	float: left;
   	position: relative;
    margin-left: 4.75%;
    text-align:justify;
   }

.classes img{
    width: 100%;
}


.classes hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, #ccc, #3C434D, #333, #3C434D, #ccc);
    position: relative;
    width: 100%;
}

.classes h3 {
    color: black;
    font-size: 24px;
    text-align: center;
}

.classes p{
    line-height:25px;
}

hr{
    width:95%;
    text-align: center;
    
}

#philosophy {
      clear: both;
      position: relative;
      padding: 4.75%;
      margin-bottom:40px;
    }

#philosophy h2 {
    color: black;
    font-size: 30px;
    text-align: center;
}

#philosophy li{
    color:#3C434D;
    line-height:35px;
}








