#opening_logo  img {
         float: left;
         position: relative;
         top: -25px;
         z-index: 5;

   }

    #nav {
   	display: inline-block;
   	width: 100%;
   	position: relative;
   	
   	margin: 0 auto;
   	font-size: 20px;
   	font-family: 'Arvo', sans-serif;
   }

    #nav ul {
   	   list-style-type: none;
   	   margin: 0; 
   	   padding: 0;
   	   overflow: hidden;
   	   background-color: green;
   	   margin: auto;
   	   z-index: 10;
   	   border-bottom: 1px solid black;
   }

   #nav li {
   	float: left;
   	border-right: 1px solid black;
   	display: inline-block;
   	margin-left: 30px;
   }

	#nav li:last-child {
   		border-right: none;
   }

    #nav li a {
   	display: block;
   	color: white;
   	text-align: center;
   	padding: 16px;
   	text-decoration: none;

   	}

   	form {
   		float: right;
   	}

   

    #nav a:hover {
   	background-color: darkgreen;
   	
   }

	input[type=text] {
		width: 200px;
		box-sizing: border-box;
		border: 2px solid #ccc;
		font-size: 16px;
		font-family: 'Arvo', sans-serif;
		background-color: white;
		background-image: url('searchicon.png');
		padding: 12px 20px 12px 40px;
		
		margin-left: 80px;
		position: relative;
		top: -120px;
		left: 950px;
		border-radius: 16px;

	}

	.footer-distributed{
	background-color: lightgrey;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 22px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
	height: 200px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}