#box1 {
   	     display: block;
   	     width: 100%;
   	     float: center;
   	     border: 1px solid black;
   	     height: 1300px;
        
   }

   #box2 {
   	position: relative;
   	top: 100px;
   	margin: 0 auto;
   	border: 7px solid black;
   	border-radius: 10px;
   	width: 770px;
   	height: 350px; 
    
   }

   #box3 {
   	border: 4px solid black;
   	border-radius: 0 10px;
   	width: 27%;
   	height: 300px;
   	float: left;
   	position: relative;
   	top: 190px;
    left: 60px;

   	
   }

   #box4{
   	border: 4px solid black;
   	border-radius: 0 10px;
   	width: 27%;
   	height: 300px;
   	float: left;
   	position: relative;
   	top: 190px;
   	left: 120px;
   	
    } 

    #box5 {
    border: 4px solid black;
    border-radius: 0 10px;
    width: 27%;
    height: 300px;
    float: left;
    position: relative;
    top: 190px;
    left: 180px;
    
    }

    h1 {
      font-family: 'Arvo' sans-serif;
      color: black;
      font-size: 30px;
      text-align: center;
    }

    h2 {
      font-size: 20px;
      font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
      text-align: center;
    }

    h3 {
      text-align: center;
      font-size: 40px;
      font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
      position: relative;
      
      
    }

    #philosophy  {
      clear: both;
      position: relative;
      top: 270px;
    }

    #philosophy ul {
     margin-left: 380px;
    }



 hr { 
    display: block;
    margin-top: 0.5px;
    margin-bottom: 0.5px;
    margin-left: auto;
    margin-right: auto;
    
    border-style-top: double;
    border-width: 5px;
    position: relative;
    
} 


   #sign_up {
   	font-family: 'Arvo' sans-serif;
   	color: #3BB9FF;
   	font-size: 45px;	
   	text-align: center;

    }